nhietdo {
    float: left;
    max-width: 160px;
    margin: 0;
    color: chartreuse
    padding: 1em;
   }

   doam {
    float: left;
    max-width: 160px;
    margin: 0;
    color: aqua
    padding: 1em;
   }